@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --dark-black: rgb(46, 46, 51);
  --border-width: 2px;
  --border-style: solid;
  --border-color: var(--dark-black);
  --border: var(--border-width) var(--border-style) black;
}
.header-space {
  height: 40.56mm;
}
.margin-top {
  margin-top: 40.56mm!important;
}
.bg-dark {
  background-color: black !important;
}

.text-bg-dark {
  background-color: var(--dark-black) !important;
}

.border-dark {
  border-color: black !important;
}

.border-table {
  border: var(--border);
}

body {
  font-family: "Poppins", sans-serif;
}

header .logo,
.header .logo {
  width: 50mm;
}

.header h5,
header h5 {
  padding: 12px 50px;
  text-align: center;
}

.detail h5 {
  margin-bottom: 5px;
  font-weight: 600;
}

.detail p,
footer .detail p {
  margin-bottom: 2px;
}

.invoice-table,
.invoice-table thead th,
.invoice-table tbody td,
.invoice-table tfoot td {
  border: var(--border);
}

.invoice-table,
.invoice-table thead th:first-child,
.invoice-table thead th:last-child,
.invoice-table tbody :not(.foot) td:first-child,
.invoice-table tbody td:last-child {
  border-left: none !important;
  border-right: none !important;
}

.invoice-table tr td:first-child h5 {
  text-align: start;
}

.invoice-table tr :not(td:first-child, th:first-child) {
  vertical-align: middle;
  text-align: center;
}

.invoice-table tbody tr:not(.foot) {
  height: 170px !important;
}

.invoice-table .credit-text {
  line-height: 1.2;
}

.invoice-table .credit-text span {
  line-height: 2.5;
}
